In [1]:
import pandas as pd
import random

In [5]:
# Load the male similarity Excel file
male_similarity_df = pd.read_excel("male_similarity.xlsx")

# Preview the dataframe
male_similarity_df.head()

,Tweet 1,Tweet 2,Similarity Score
0,Also - the jokes. The jokes. \u2018If I now sh...,"Still,better than my neighbour or'Stalker' as ...",0.286326
1,Also - the jokes. The jokes. \u2018If I now sh...,Thanks @BDUTT for being the rare voice in the ...,0.439234
2,Also - the jokes. The jokes. \u2018If I now sh...,I have been asking media houses to debate this...,0.344894
3,Also - the jokes. The jokes. \u2018If I now sh...,"@HBO it's also not ok to abuse, threaten &amp;...",0.443727
4,Also - the jokes. The jokes. \u2018If I now sh...,@Channel4 This looks great but Sean Penn\u2019...,0.427945

In [7]:
# Ensure enough data
assert len(male_similarity_df) >= 50, "Not enough pairs in the file!"

# Randomly sample 50 pairs
male_50_pairs = male_similarity_df.sample(n=50, random_state=42).reset_index(drop=True)

# Show sample
male_50_pairs.head()

,Tweet 1,Tweet 2,Similarity Score
0,#MeToo I was afraid. Now I\u2019m not. He took...,It\u2019s hard to believe Brett Kavanaugh\u200...,0.272462
1,"@HBO it's also not ok to abuse, threaten &amp;...",Who decides what violence should not count as ...,0.440153
2,This happened post #MeToo &amp; Sarah Scott di...,Excellent news. Should have happened right awa...,0.398999
3,"Pakistani actor Salman Saqib Sheikh, better kn...",#Tekashi69's team are now taking down all comm...,0.430075
4,#MeToo I was afraid. Now I\u2019m not. He took...,IMPORTANT : My DMs are open. Let's hear #HimTo...,0.447153

In [9]:
# Save to Excel
male_50_pairs.to_excel("male_50_random_pairs.xlsx", index=False)
print("ðŸ’¾ File saved as 'male_50_random_pairs.xlsx'")

ðŸ’¾ File saved as 'male_50_random_pairs.xlsx'

In [11]:
female_similarity_df = pd.read_excel("female_similarity.xlsx")

# Preview the dataframe
female_similarity_df.head()

,Tweet 1,Tweet 2,Similarity Score
0,#MeToo #MeTooIndia #MeTooControversy #MeToo4Pu...,"In the past few days, several incidents of fau...",0.657582
1,#MeToo #MeTooIndia #MeTooControversy #MeToo4Pu...,"\""The woman who does not require validation fr...",0.377890
2,#MeToo #MeTooIndia #MeTooControversy #MeToo4Pu...,"Hey @JimmyKimmelLive, strangely you guys forg...",0.404276
3,#MeToo #MeTooIndia #MeTooControversy #MeToo4Pu...,First hand account of a survivor from @TeachFo...,0.426601
4,#MeToo #MeTooIndia #MeTooControversy #MeToo4Pu...,"@DeShobhaa No Hindu Vrat is compulsory , gener...",0.315621

In [13]:
# Ensure enough data
assert len(female_similarity_df) >= 50, "Not enough pairs in the file!"

# Randomly sample 50 pairs
female_50_pairs = female_similarity_df.sample(n=50, random_state=42).reset_index(drop=True)

# Show sample
female_50_pairs.head()

,Tweet 1,Tweet 2,Similarity Score
0,When woman file #FakeCases Indian police.. #Fa...,@GabbbarSingh Now she will play the game of #M...,0.340140
1,Public places must be made safe for women and ...,The only national leader &amp; politician to h...,0.448584
2,As awakened and socially courageous group of p...,"\u2018I knew if a woman could be President, I ...",0.326949
3,@wolfblitzer @Chloe_Melas @CNNSitRoom In your ...,No #MeToo for Bengaluru\u2019s Garment Workers...,0.223366
4,#GeoffreyRush is #innocent. #ErynJeanNorvill i...,@kylegriffin1 Make no mistake. This is not onl...,0.337168

In [15]:
# Save to Excel
female_50_pairs.to_excel("female_50_random_pairs.xlsx", index=False)
print("ðŸ’¾ File saved as 'female_50_random_pairs.xlsx'")

ðŸ’¾ File saved as 'female_50_random_pairs.xlsx'

In [17]:
# Load the male similarity Excel file
both_similarity_df = pd.read_excel("both_similarity.xlsx")

# Preview the dataframe
both_similarity_df.head()

,Tweet 1,Tweet 2,Similarity Score
0,Watching #IranUnveiled on ITV. The kind of opp...,@MuralikrishnaE1 @ssingapuri @RV9933 @swetasam...,0.241087
1,Watching #IranUnveiled on ITV. The kind of opp...,"I was going to be a Hillary Supporter, Vegan, ...",0.402376
2,Watching #IranUnveiled on ITV. The kind of opp...,"Breaking down gender stereotypes allows boys, ...",0.322412
3,Watching #IranUnveiled on ITV. The kind of opp...,\u2757\ufe0f#MeToo A journalist has been work...,0.373701
4,Watching #IranUnveiled on ITV. The kind of opp...,@RogueNASA Except they actually know Kavanaugh...,0.396230

In [19]:
# Ensure enough data
assert len(both_similarity_df) >= 50, "Not enough pairs in the file!"

# Randomly sample 50 pairs
both_50_pairs = both_similarity_df.sample(n=50, random_state=42).reset_index(drop=True)

# Show sample
both_50_pairs.head()

,Tweet 1,Tweet 2,Similarity Score
0,"After Time's Up and #MeToo, women in entertain...",Embracing ambiguities n confusions abt #metoo ...,0.500329
1,#MeToo Founder Tarana Burke Breaks Down Why Bi...,"This is horrifying, sexist, and unacceptable. ...",0.183286
2,Embracing ambiguities n confusions abt #metoo ...,"Founder Director, St. Stephen's School, Chandi...",0.213904
3,Well done #hamont. Tonight's event with #metoo...,More than 1/3 of women have been harassed at s...,0.236601
4,Proud of Latinas Speaking up! @MonicaRamirezD...,@ZellnerLaw @metacritic @lifeafterten @EFMoria...,0.336776

In [27]:
# Save to Excel
both_50_pairs.to_excel("both_50_random_pairs.xlsx", index=False)
print("ðŸ’¾ File saved as 'both_50_random_pairs.xlsx'")

ðŸ’¾ File saved as 'both_50_random_pairs.xlsx'